@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: black;
    scroll-behavior: smooth;
}



h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

span {
    font-size: 0.8rem;
    line-height: 80%;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-bold)
}


p {
    font-family: var(--font-light);
    line-height: 200%;
}

:root {
    --color01: white;
    --color02: #0B0C17;
    --color03: #FF3571;
    --color04: #DDDDDD;
    --font-regular: Roboto;
    --font-light: Roboto-Light;
    --font-bold: Roboto-Bold;
}



header {
    width: 100vw;
    height: 80px;
    background-color: white;
    position: fixed;
    z-index: 1;

}

.logo img {
    width: 50px;
}


/* logo */
.logo {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 1rem 1rem;

}

.projectInfos-mobile {
    display: block;
}



/* hero */

.hero {
    width: 100vw;
    height: 90vh;
    margin-bottom: 3rem;
    background-image: url("../img/ilustracion1.png");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1rem;

}

.heroContent {
    padding-top: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.hero .heroContent .heroImage {
    padding-top: 1rem;
    width: 90%;
    animation: move 4s ease-in-out infinite;
}


.icon {
    width: 10%;
}

.projectInfos {
    padding-bottom: 1rem;
    display: none;
}

.heroInfos {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 2rem;
}

.scroll {
    color: var(--color03);
    font-size: 0.8;
    text-transform: uppercase;
    padding-top: 1rem;
}



/* section image projects */
.pojects {
    width: 100vw;
    height: 20vh;
    margin-bottom: 1rem;
}

.pojects img {
    width: 100%;
}



/* infos section */

.infos {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

}

.introInfos {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}


.introInfos h2 {
    /* flex: 1; */
    text-align: center;
    width: 60%;
}

.introInfos .icon {
    width: 20%;
}

.introInfos p {
    flex: 3;
    padding: 1rem;
    font-size: 18px;
    line-height: 200%;
}

.learnigs-header {
    text-align: center;
    margin: 1rem;
    width: 80%;
}

.learnigs-table {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "first"
        "second"
        "third"
        "fourt";
    gap: 1rem;
    padding: 1rem;
}

.learnings {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.learningsInfos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.learnigsIcon {
    width: 40px;
}

/* challenge */

.challenge {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 3rem;

}

.challengeHeader {
    gap: 1rem;
    width: 80vw;
}



main .challenge .article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
    gap: 1rem;
}

main .challenge .article .articleImage {
    width: 30%;
}

.articleIcon {
    width: 10px;

}

main .challenge .articleInfos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .challenge .articleInfos .articleNumber {
    color: var(--color04);
    font-size: 3.25rem;
    font-family: var(--font-bold);
}



main .challenge .articleInfos .articleTitle {
    font-size: 1.2rem;
    font-family: var(--font-bold);

}


main .challenge .articleInfos .articleContent {
    font-size: 0.8rem;
    text-decoration: solid;
    line-height: 200%;
}



/* footer */

footer .subscribe {
    margin-top: 4rem;
}

footer .subscribe p {
    text-align: center;
    padding-bottom: 3rem;
    width: 80%;
}

footer .subscribe form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


footer .subscribe form input[type="email"] {
    width: 80vw;
}


.copyright {
    margin-top: 2rem;
    margin: 2rem;
}

.copyright p {
    text-align: center;
}

.copyright img {
    height: 20px;
}