@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: black;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    font-family: var(--font-bold)
}






p {
    font-family: Roboto-Light;
}

:root {
    --color01: white;
    --color02: #0B0C17;
    --color03: #FF3571;
    --color04: #DDDDDD;
    --font-regular: Roboto;
    --font-light: Roboto-Light;
    --font-bold: Roboto-Bold;
}

.logo {
    width: 60px;
    padding: 1rem;
    position: fixed;

}

.pojects {
    width: 100vw;
    height: 70vh;
    margin-bottom: 8rem;
}

.pojects img {
    width: 100%;
}

.learnigsIcon {
    width: 3%;
}




/* challenge */


.challenge {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border: 1px solid green;
    gap: 8rem;

}

.challengeHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;
    text-align: center;
}



main .challenge .article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 8rem;
    gap: 2rem;
}

main .challenge .article .articleImage {
    width: 40%;
}

main .challenge .articleInfos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .challenge .articleInfos .articleNumber {
    color: var(--color04);
    font-size: 3.25rem;
    font-family: var(--font-bold);
}



main .challenge .articleInfos .articleTitle {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-bold);

}


main .challenge .articleInfos .articleContent {
    font-size: 0.8rem;
    text-decoration: solid;
    line-height: 200%;
}



/* footer */

footer .subscribe {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

footer .subscribe p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 130%;
    padding-bottom: 3rem;
    width: 20%;
}

footer .subscribe form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


footer .subscribe form input[type="email"] {
    border: none;
    width: 40vw;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 0px 15px 60px 0px rgba(12, 14, 31, 0.06);

}


footer .subscribe form input[type="email"]::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    text-align: center;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    padding: 3rem
}

footer .subscribe form input[type="submit"] {
    background-color: var(--color03);
    color: var(--color01);
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 0.2rem;
}

footer .subscribe form input[type="submit"]:hover {
    background-image: linear-gradient(to right, #6b5de5 0%, #E55D87 100%);
}


.copyright {
    margin-top: 9rem;
    margin-left: 9rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 150%
}

.copyright img {
    height: 20px;
}