@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: black;
    scroll-behavior: smooth;
}



h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

span {
    font-size: 0.8rem;
    line-height: 80%;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-bold)
}


p {
    font-family: var(--font-light);
    line-height: 200%;
}

:root {
    --color01: white;
    --color02: #0B0C17;
    --color03: #FF3571;
    --color04: #DDDDDD;
    --font-regular: Roboto;
    --font-light: Roboto-Light;
    --font-bold: Roboto-Bold;
}






/* logo */
.logo {
    width: 50px;
    margin: 2rem 2rem;
    position: fixed;
}



/* hero */

.hero {
    width: 100vw;
    height: 80vh;
    margin-bottom: 4rem;
    background-image: url("../img/ilustracion1.png");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8rem;

}

.heroContent {
    padding-top: 2.8rem;
    width: 100vw;
    height: 80vh;
    display: flex;
    gap: 3rem;

}

.hero .heroContent .heroImage {
    width: 50%;
    animation: move 4s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(30px);
    }

    66% {
        transform: translateY(-30);
    }

    100% {
        transform: translateY(0);
    }
}

.icon {
    width: 5%;
}

.projectInfos {
    padding-bottom: 9rem;
}

.heroInfos {
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 5rem;
}

.scroll {
    color: var(--color03);
    font-size: 0.8;
    text-transform: uppercase;
    padding-top: 3rem;
}



/* section image projects */
.pojects {
    width: 100vw;
    height: 70vh;
    margin-bottom: 8rem;
}

.pojects img {
    width: 100%;
}




/* infos section */

.infos {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

.introInfos {
    display: flex;
    padding: 8rem;
    gap: 10rem;
}


.introInfos h2 {
    flex: 1;
}

.introInfos .icon {
    width: 20%;
}

.introInfos p {
    flex: 3;
    padding-right: 10rem;
    font-size: 18px;
    line-height: 200%;
}

.learnigs-header {
    margin-left: 10rem;
    width: 40%;
}



.learnigs-table {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "first second"
        "third fourt";
    gap: 4rem;
    padding: 8rem;
}

.learnings {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.learnings:nth-of-type(1) {
    /* flex: 2; */
    grid-area: first;
}

.learnings:nth-of-type(2) {
    /* flex: 2; */
    grid-area: second;
}

.learnings:nth-of-type(3) {
    /* flex: 3; */
    grid-area: third;
}

.learnings:nth-of-type(4) {
    /* flex: 3; */
    grid-area: fourt;
}


.learningsInfos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.learnigsIcon {
    width: 30px;
}



/* challenge */


.challenge {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 8rem;

}

.challengeHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;
    text-align: center;
}



main .challenge .article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 8rem;
    gap: 10rem;
}

main .challenge .article .articleImage {
    width: 40%;
}

main .challenge .articleInfos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .challenge .articleInfos .articleNumber {
    color: var(--color04);
    font-size: 3.25rem;
    font-family: var(--font-bold);
}



main .challenge .articleInfos .articleTitle {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-bold);

}


main .challenge .articleInfos .articleContent {
    font-size: 0.8rem;
    text-decoration: solid;
    line-height: 200%;
}



/* footer */

footer .subscribe {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

footer .subscribe p {
    text-align: center;
    padding-bottom: 3rem;
    width: 20%;
}

footer .subscribe form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


footer .subscribe form input[type="email"] {
    border: none;
    width: 40vw;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 0px 15px 60px 0px rgba(12, 14, 31, 0.06);

}


footer .subscribe form input[type="email"]::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    text-align: center;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    padding: 3rem
}

footer .subscribe form input[type="submit"] {
    background-color: var(--color03);
    color: var(--color01);
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 0.2rem;
}

footer .subscribe form input[type="submit"]:hover {
    background-image: linear-gradient(to right, #6b5de5 0%, #E55D87 100%);
}


.copyright {
    margin-top: 9rem;
    margin-left: 9rem;
}

.copyright img {
    height: 20px;
}